<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pixel.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Document</title>
</head>
<body>
  
    <div id="container">
        <div id="squares">
          {%for i in range(512)%}
            {%for j in range(512)%}
             
                

                <div class="square" style="background-color: rgb(255, 0, 0)">

                </div>
                {%endfor%}
                {%endfor%}
                 

          </div>
        </div>
    </div>
  
    
</body>
<script src="../static/js/converterPixel.js"></script>



</html>