.display{
    display: flex;
}
#calculadora{
    
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    padding: 1%;
    border-radius: 12px;
    background-color: #f2eeed;
    
   
}
#Tela{
    height: 100px;
    width: 100%;
    margin: auto;
    background:#ccc9c0;
    border-radius: 12px;
    border: solid 2px black;
    font-weight: 600;
    font-size: 30px;
    overflow: hidden;

}
#controles{
   border-radius: 12;
    width: 100%;    
   justify-content: center;
    background:#807e79;
    display: flex;
    
    
}
#botao{
    background:#807e79;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    border: solid 2px black;
}
.botaoControles{
    border-radius: 12px;
    
}
#butaoControleid2{
 
    border-radius: 12px;
  
   
    background:#e6b029; 
}
.botaoGerais{
    width: 50.3px;
    height: 50.3px;
    border-radius: 12px;
    background-color: #807e79;
     
}
.botaoGerais :hover{
    background-color:#ccc9c0; 
    cursor: pointer;  
   
}