body{
    margin: 0;
    padding: 0;
}
.container{
    align-self: center;    
    
    margin-left: 13%;
}
#header{
    display: flex;
    flex-direction: row; 
    padding-top: 5%;
   
    

}
#header img{
    width: 7%;
    height: 7%;
    margin-bottom: 2%;
    

    

}
#header p{
    text-align: center; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
   
}
.space {
 
    width: 100%;
    display: flex;
    margin:auto ;
    height: 2px;
  
}
.space p{
    color: grey;
    
}
.container div h1{
    padding: 2%;
 

}
table  td {
    border: 1px solid black;
  }
  table  td p {
    margin: 0;
    padding: 0;
  }  